body{
    font-family: sans-serif;
    margin:0;
}

form {
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
    padding: 2rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}

button{
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 12px;
    background-color: rgb(66, 8, 120);
    color: white;
    border: 1px solid rgb(86, 11, 156);
}

button:hover,
button:active{
    background-color: rgb(161, 103, 216);
    border-color: rgb(154, 88, 216);
}

.form-control {
    margin-bottom: 1rem;
}

.form-control input{
    font:inherit;
    padding: 0.25rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: block;
    width: 10rem;
}

.form-control input:focus {
    border-color: #1f0050;
    outline: none;
    background-color: rgb(240, 189, 240);
}

.form-control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.errorlist {
    list-style: none;
    margin:0;
    padding:0;
    color:rgb(147, 5, 5)
}

.errors input{
    border-color: rgb(151, 14, 14);
    background-color: #fde3e3;
}

.errors label{
    color:red
}